.Card{
  
  background: transparent;
        margin-top: 1%;
        width: 93%;
       margin-left: 25px;
    
        background-color: black;
        border-radius: 10px;
    
    
}
.cardcss{
   

        
        border-radius: 5px;
}
.cardtext{
  

       margin-left: 50px;
        
   
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 22px;
    
        color: #CFCFCF;
}