.header {
    padding: 20px;
    text-align: left;
    background:black;
    color: white;
    height: 40px;
   
}
.headerimg{
   
    
    float: right;
    border-radius: 50%;
}
.caption {
    margin-top: 10px;
    margin-right:10px;
    font-size: 20px;
    float: left;
}
.comtag{
    float:inline-start;
    font-size: 35px;
    font-weight: 10000px;
}